@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: var(--secondary-font);
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
}

:root {
  --primary-color: #4e3dbb;
  --secondary-color: #854fee;
  --bg-white: #ffff;
  --bg-light: #b7babb;
  --bg-black: #000000;
  --bg-gray: #eee;
  --text-white: #ffff;
  --gradient: linear-gradient(to right, #4458dc 0%, #854fee 100%),
    radial-gradient(circle at top left, #4458dc, #854fee);

  --primary-font: "Rubik", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 0.55rem;
}

::-webkit-scrollbar-track {
  background: var(--bg-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

h1 {
  font-size: 4.375rem;
  line-height: 3.75rem;
  font-weight: 700;
  color: var(--text-black);
  margin-bottom: 1.25rem;
  font-family: var(--primary-font);
}

h2 {
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 3.4375rem;
  margin-bottom: 1.5625rem;
  color: var(--text-black);
  font-family: var(--primary-font);
}

h3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 3.125rem;
  margin-bottom: 0.9375rem;
  color: var(--text-black);
  font-family: var(--primary-font);
  text-transform: uppercase;
}

h5 {
  font-weight: 350;
  font-size: 1.5rem;
  margin-bottom: 2.1875rem;
  color: var(--text-black);
}

h6 {
  font-weight: 300;
  color: var(--text-white);
}

p {
  color: var(--text-gray);
  font-size: 0.9375rem;
  line-height: 1.625rem;
  font-weight: 400;
}

section {
  padding: 5rem 0;
}
.space {
  height: 35px;
  background-color: #4e3dbb;
}

.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

/*NAV BAR SECTION*/
.logo {
  color: #ffffff;
}

.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: rgb(251, 251, 251);
  transition: 0.15s;
}

.nav-item .nav-link:hover {
  color: var(--secondary-color);
}

.header-btn {
  color: #faf8ff;
  border-radius: 30px;
  background-color: var(--primary-color);
  border: none;
  font-weight: 500;
  outline: none;
  font-size: 15px;
  padding: 7px 22px;
  transition: 0.5s;
}

.header-btn:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.navbar-scroll {
  background-color: #4e3dbb;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 1s;
}

.navbar-scroll .nav-item .nav-link {
  color: #faf8ff;
}

.navbar-scroll .header-btn {
  color: #000000;
  background-color: #faf8ff;
}

.navbar-scroll .logo {
  color: #faf8ff;
  font-weight: 500;
}

.first-title {
  text-transform: capitalize;
}

section {
  background-color: #faf8ff;
  padding: 4rem 0rem 4rem;
}

/*--------HOME PAGE--------*/

/*BANNER SECTION*/
.banner_wrapper {
  padding-top: 15rem;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.banner_wrapper .col-lg-7 {
  vertical-align: middle;
  align-self: center;
}

.banner_wrapper .banner-content h2::after {
  width: 60%;
  height: 0.125rem;
  position: absolute;
  top: 50%;
  left: 25%;
  background: var(--bg-black);
  overflow-x: hidden;
}

.main-btn {
  display: inline-block;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 2.875rem;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  box-shadow: 0 0.625rem 1.875rem rgb(118 85 225 / 30%);
  border: double 0.125rem transparent;
  padding: 0 2.0625rem;
  transition: all 0.3s ease-in-out;
  --webkit-transition: all 0.3s ease-in-out;
}

.primary-btn {
  background-image: var(--gradient);
  color: var(--text-white);
}

.primary-btn:hover {
  border-color: var(--secondary-color);
  background: var(--bg-white);
  box-shadow: none;
  text-decoration: none;
  color: black;
}

.secondary-btn {
  background-image: var(--bg-white);
  border-color: var(--secondary-color);
}

.secondary-btn:hover {
  background: var(--gradient);
  color: white;
  box-shadow: none;
  text-decoration: none;
}

#home_btn {
  color: var(--text-white);
}

/*SERVICE SECTION*/
.services_wrapper {
  background-color: #9088e7;
  color: #ffffff;
  height: 100%;
}
.services_wrapper .card {
  background-color: var(--primary-color);
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: #f0f0f0;
}

.services_wrapper .card:hover {
  box-shadow: 0 0.9375rem 1.875rem rgb(77 87 222 / 30%);
  background: var(--bg-white);
  color: #000000;
}

/*--------CONTACT PAGE--------*/

.contact_wrapper {
  background-image: var(--gradient);
}

.form-control {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid var(--text-white);
  color: var(--text-white);
}

.form-control::placeholder {
  color: rgb(255, 255, 255);
  text-align: center;
}

/*FOOTER SECTION*/
.footer_wrapper {
  background-color: var(--primary-color);
  padding: 10px 0;
}

.footer_wrapper .social-icon li {
  margin: 10px;
}

.footer_wrapper .social-icon a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
  border: 2px solid var(--text-gray);
  color: var(--text-white);
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-icon a:hover {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
  color: var(--text-white);
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
  transform: translateY(-10px);
}

/*--------ABOUT PAGE--------*/

/*BANNER SECTION*/

.banner_about {
  background-color: var(--bg-black);
}

.banner_about.main-content {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 6.25rem;
}
.banner_about .social-icon a img {
  width: 3.125rem;
  height: 3.125rem;
  transition: 0.3s ease-in;
}
.banner_about .social-icon a:hover img {
  transform: translateY(-0.3125rem);
}

/*INTRODUCTION SECTION*/

.intro_about {
  background-color: rgb(189, 180, 255);
  color: #000000;
}

.intro_about .single-progress {
  margin-top: 26px;
  position: relative;
  overflow: hidden;
}

.intro_about .single-progress .progress {
  height: 20px;
  border-radius: 4px;
  box-shadow: none;
  background-color: var(--bg-white);
  overflow: visible;
}

.intro_about .progress-bar {
  background-color: #7a65ff;
}

.intro_about h6 {
  text-align: left;
  color: #ffffff;
  font-weight: 400;
}

.intro_about .single-progress .label {
  position: absolute;
  right: 0;
  top: 0;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

/*--------PROJECTS PAGE--------*/

#page {
  background-color: rgb(238, 238, 238);
  padding: 4rem 0rem 4rem;
}
#page:nth-of-type(even) {
  background-color: #4e3dbb;
  color: white;
}

/*PORTFOLIO SECTION*/

.blender_projects {
  background-color: rgb(118, 118, 118);
}

.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: 0.5s;
  background: transparent;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
  background: transparent;
}

.card-custom .card-custom-image {
  overflow: hidden;
}

.card-custom .card-custom-image img {
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}
